<div class="walkthrough">
    <div class="walkthrough-pagination">
        {{#each list as |item|}}
            <a class="dot"></a>
        {{/each}}
    </div>
    <div class="walkthrough-body">
        <ul class="screens animate" onclick={{action "transition"}}>
            {{#each list as |item|}}
                <li class="screen">
                    <div class="media logo">
                        {{#if item.imgSource}}
                            <img class="logo" src={{concat imgPrefix item.imgSource}}>
                        {{/if}}
                    </div>
                    <h3>{{item.label}}</h3>
                    <p>{{item.text}}</p>
                </li>
            {{/each}}
        </ul>
        <button class="prev-screen click" onclick={{action "prevScreen"}}><div></div></button>
        <button class="next-screen click" onclick={{action "nextScreen"}}></button>
    </div>
</div>